
<%- include("../layouts/header.ejs") %>


<div class="headSection d-flex justify-content-between align-items-center border-bottom my-2 py-2">
    <h2 class="text-white"> ⚙️ Admin Dashboard</h2>

    <div class="adminButtons">
        <a href="/admin/adduser" class="btn btn-primary">Add User</a>
        <a href="/admin/logout" class="btn btn-danger">Logout</a>
    </div>
</div>


<div class="searchBox text-center m-3">
    <form >
        <input type="text" placeholder="Search..." name="search">
        <input type="submit" value="Search" class="btn btn-secondary">
    </form>
</div>

<% if(userData==""){ %>
     <h5 class="text-center text-white">No results found</h5>
      <%}else{%>
    <div class="card-container bg-danger d-flex" style="display: flex;">

<%userData.forEach(item=>{%>

    
        <div class="card m-4  bg-warning" style="width: 18rem;" >
            <%if(!item.image){%>
                <img src=  "userImages/user.jpeg" class="card-img-top"  alt="Profile pic" width="150" height="150"> </td>
           <% }else{ %> 
            <img src=  "userImages/<%= item.image %> " class="card-img-top"  alt="Profile pic" width="150" height="150"> </td>
            <%} %>
            <div class="card-body ">
            <table>
                       <tr >
                        <th > Name:</th>
                        <td><%= item.name%> </td>
                                </tr>
                                <tr>
                        <th> Email:</th>
                        <td> <%= item.email %> </td>
                                </tr>
                                <tr>
                        <th> Mobile:</th>
                        <td> <%= item.mobile %> </td>
                                </tr>
        
                    </div>
            </table>
            <div class="text-center my-2">
        
                <a href="/admin/useredit?id=<%=item._id%>" class="btn btn-primary">Edit</a>
                <a href="/admin/removeuser?id=<%=item._id%>" class="btn btn-primary">Remove</a>
        
            </div>
        
        </div>
   
    <%}) }%>
</div>
    
    




<%- include("../layouts/footer.ejs") %>



