
<%- include("../layouts/header.ejs") %>

<h1>Admin Dashboard</h1>

<form >
    <input type="text" placeholder="Search name or email or phone number" name="search">
    <input type="submit" value="Search" class="btn btn-secondary">
</form>


<% if(userData==""){ %> <p>No results found</p> <%}else{%>
<%userData.forEach(item=>{%>
    
    <p><%=item.name%></p>
    <a href="/admin/useredit?id=<%=item._id%>" class="btn btn-primary">Edit</a>
    <a href="/admin/removeuser?id=<%=item._id%>" class="btn btn-primary">Remove</a>
    <%}) }%>


<br><br>
<a href="/admin/adduser" class="btn btn-primary">Add User</a>
<a href="/admin/logout" class="btn btn-primary">Logout</a>


<%- include("../layouts/footer.ejs") %>



