<%- include ("../layouts/header.ejs") %>


<h1>Edit Profile</h1>
<form action="" method="post" enctype="multipart/form-data">

    <input type="file" name="image" > 
    <br><br>
    <input type="hidden" name="user_id" value="<%=user._id %>">
    <input type="text" name ="name" value="<%= user.name %>" placeholder="Enter new name" required> 
    <br><br>
    <input type="email" name ="email" value="<%= user.email %>" placeholder="Enter new email" required> 
    <br><br>
    <input type="text" name ="mobile" value="<%= user.mobile %>" placeholder="Enter new mobile number" required>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Update">
    <a href="/home" class="btn btn-primary">Cancel</a>

</form>
 




<%- include("../layouts/footer.ejs")%>
