<%- include ("../layouts/header.ejs") %>


<div class="card myCard-center">
    <h1 class="card-header">Edit Profile</h1>


    <%if(typeof data.errors!= 'undefined'){%>
        <%data.errors.map(item=>{ %>
      
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> <%=item.msg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
    <%})}%>

    <div class="card-body">
        <form action="/edit" method="post" enctype="multipart/form-data">
            
            <input type="hidden" name="user_id" value="<%=data.user._id %>">
            <label for="name">Name</label>
            <input type="text" name ="name" class="form-control" value="<%= data.user.name %>" placeholder="Enter new name" required>
           <br>
            <label for="email">Email</label>
            <input type="email" name ="email" class="form-control" value="<%= data.user.email %>" placeholder="Enter new email" required>
           <br>
            <label for="mobile">Mobile</label>
            <input type="text" name ="mobile" class="form-control" value="<%= data.user.mobile %>" placeholder="Enter new mobile number" required>
            <br>
            <label for="image">Change profile image:</label>
            <input type="file" name="image" >
            <br>            <br>

            <div class="two-buttons text-center">
                <input type="submit" class="btn btn-primary" value="Update">
                <a href="/home" class="btn btn-primary">Cancel</a>
            </div>
        
        </form>
    </div>
    
</div>




<%- include("../layouts/footer.ejs")%>
