<%- include ("../layouts/header.ejs") %>



<h1> Welcome <%= userDetails.name%>...</h1>

<table>

    <tr>
        <td>  <img src=  "userImages/<%= userDetails.image %> " width="100px" height="100px" alt="Profile pic"> </td>
    <tr>
        <th> Name:</th>
        <td><%= userDetails.name%> </td>
    </tr>
    <tr>
        <th> Email:</th>
        <td> <%= userDetails.email %> </td>
    </tr>
    <tr>
        <th> Mobile:</th>
        <td> <%= userDetails.mobile %> </td>
    </tr>
</table>
<a href="/edit?id=<%= userDetails._id%>" class="btn btn-primary">Edit </a>

<a href="/changepassword?id=<%=userDetails._id%>" class="btn btn-primary"> Change Password</a>
<br><br>
<a href="/logout" class="btn btn-danger">Logout</a>



<%- include("../layouts/footer.ejs")%>